
body{
      font-family: "Poppins", sans-serif;
}
h1 , h2 , h3 , h4 , h5 , h6{
      font-family: "Montserrat", sans-serif;

}
h3{
    font-weight: 900;
    font-size: 2.5rem;
    position: relative;
    z-index: 3;
}
#About h3::after{
     width: 0%;
}

 h3::after{
    content: "";
    width: 15%;
    height: 1.875rem;
    position: absolute;
    left: 43%;
    bottom: -0.625rem;
    background-image: url(../images/dots.png);
    background-repeat: repeat;
    z-index: -1;
}

h6{
    font-size: 1.125rem;
    font-weight: 800;
}
.co{
    background-color: #F4F4F4;
}

.my-color{
    background-color: #F7F7F7;
}
#About button:hover{
    background-color: white;
    color: black;
}
#About .my-btn:hover{
    background-color: black;
    color: white;
}
.icon{
    width: 2rem;
    height: 2rem;
   border-radius: 50%; 
}
.my-container{
    width: 70%;
    margin: auto;
}
.home{
    background-image:linear-gradient(rgba(0,0,0,0.5) ,rgba(0,0,0,0.5)), url(../images/bg.jpg);
    background-position: center;
    background-size: cover;
}
a{
    color: inherit;
    text-decoration: none;
}
ul li{
    list-style-type: none;
}

.about-image::after{
    content: "";
    width: 80%;
    height: 80%;
    position: absolute;
    left: -1.875rem;
    bottom: -1.875rem;
    background-image: url(../images/dots.png);
    background-repeat: repeat;
    z-index: -1;
}

.services .icon{
    width: 4.5rem;
    height: 4.5rem;
    transition: 1s;
    background-color: #ccc;
    padding: 20px;
  
}

.services .item:hover .icon
{
    background-color: black;
     color: white ;
}
.Portfolio .inner .port-image .over-lay{
background-color: rgba(255, 255, 255, 0.95);
opacity: 0;
transform: translateY(5%);
top:.3125rem;
   bottom: .3125rem;
   right: .3125rem;
   left:.3125rem;
   transition: 0.4s;
  
}

.Portfolio .item:hover .over-lay{
       transform: translateY(0%);
       opacity: 1;

}

.Portfolio .inner .port-image .over-lay .content .icon{
    width: 2rem;
    height: 2rem;
   background-color:black ;
   color: white;

}
.Portfolio .inner .port-image .over-lay .content .icon:hover{
    background-color: #ffff;
    color: black;
    border: black .0625rem solid;

}
.slide .carousel-indicators [data-bs-target] {
    width: 1rem;
    height: 1rem;
    background-color: white;
    border-radius: 50%;
}

.w-90{
    width: 5.625rem;
    height: 6.625rem;
}
#team .inner .social-icons .icon{
width: 2.5rem;
height: 2.5rem;
background-color: black;
color: #ffff;

}
#team .inner .social-icons{
    opacity: 1;
background-color: rgba(255, 255, 255, 0.95);
    top: .3125rem;
    bottom: .3125rem;
    left: .3125rem;
    right: .3125rem;
    transition: 0.5s;
}
#team .inner .social-icons:hover{
    transform: translateY(360deg);
}
#team .inner .social-icons .icon:hover{
      background-color: #ffff;
    color: black;
    border: black .0625rem solid;
    transform: rotateY(360deg);
}
.card-body{
    background-color: #5B5B5B;
}
#team .item .inner img {
    transition:0.5s ;
}
#team .item:hover img{
    transform: scale(1.2);
} 
#team .item:hover .social-icons {
       transform: rotateY(360deg)
}
#contact .icon:hover{
    background-color: black;
    color: white;
}
#contact .icon{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    transition: 1s;
}
#contact input:focus{
      outline: 0px solid transparent;

}
#contact textarea:focus{
      outline: 0px solid transparent;
}
#contact button:hover{
    background-color: white;
    color: black;
}
footer{
    color: white;
    /* color: #343434; */
    font-weight: 400;
    box-sizing: border-box;
    margin: 0;
  
    background: #5B5B5B;
    padding: 1.875rem;
}